@model ProyectoGYM.Models.GeneracionPago

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GeneracionPago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idjornadas" class="control-label"></label>
                <select asp-for="Idjornadas" class ="form-control" asp-items="ViewBag.Idjornadas"></select>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionPago" class="control-label"></label>
                <input asp-for="DescripcionPago" class="form-control" />
                <span asp-validation-for="DescripcionPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPago" class="control-label"></label>
                <input asp-for="TipoPago" class="form-control" />
                <span asp-validation-for="TipoPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioBruto" class="control-label"></label>
                <input asp-for="SalarioBruto" class="form-control" />
                <span asp-validation-for="SalarioBruto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoDelPago" class="control-label"></label>
                <input asp-for="EstadoDelPago" class="form-control" />
                <span asp-validation-for="EstadoDelPago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Feriados" class="control-label"></label>
                <input asp-for="Feriados" class="form-control" />
                <span asp-validation-for="Feriados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasExtras" class="control-label"></label>
                <input asp-for="HorasExtras" class="form-control" />
                <span asp-validation-for="HorasExtras" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
